@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá</h1>
    <p>Leia sobre <a href="https://docs.microsoft.com/aspnet/core">construção de aplicativos da Web com ASP.NET Core</a>.</p>
</div>
